<div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
  <div class="sidebar-brand d-none d-md-flex">
    <img style="width:225px; padding: 5px 0px" src="assets/logo.png" alt="Tech Titans Logo" />
  </div>
  <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
    <li class="nav-item">
      <a class="nav-link" href="@Url.Action("Index")">
        <svg class="nav-icon">
          <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-speedometer"></use>
        </svg> Dashboard
      </a>
    </li>
    <li class="nav-title">Data Ingestion</li>
    <li class="nav-item">
      <a class="nav-link" href="@Url.Action("WebScraping")">
        <svg class="nav-icon">
          <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-drop"></use>
        </svg>Web Scraping
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="@Url.Action("Survey")">
        <svg class="nav-icon">
          <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-pencil"></use>
        </svg> Survey
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <svg class="nav-icon">
          <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-puzzle"></use>
        </svg> Connectors
      </a>
    </li>
    <li class="nav-title">Ideas</li>
    <li class="nav-item">
      <a class="nav-link" href="@Url.Action("Features")">
        <svg class="nav-icon">
          <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-calculator"></use>
        </svg> User-Driven<span class="badge badge-sm bg-info ms-auto">NEW</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="@Url.Action("FeedbackAnalysis")">
        <svg class="nav-icon">
          <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-cursor"></use>
        </svg> Feedback Analysis
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <svg class="nav-icon">
          <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-chart-pie"></use>
        </svg> Markets
      </a>
    </li>
    
    <li class="nav-divider"></li>
    <li class="nav-title">Extras</li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <svg class="nav-icon">
          <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-star"></use>
        </svg> Help
      </a>
    </li>
    <li class="nav-item mt-auto">
      <a class="nav-link" href="#">
        <svg class="nav-icon">
          <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-description"></use>
        </svg> Wiki
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-link-danger" href="#">
        <svg class="nav-icon">
          <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-layers"></use>
        </svg> Communities
      </a>
    </li>
  </ul>
  <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
</div>